.logo {
    width: 30px;

    &--container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.account {
    padding-left: 4rem;
}

body {
    padding-left: .5rem;
}