.logo {
    width: 25px;
    margin-left: .3rem;

    &--container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid lightgray;
        margin-top: .5rem;
        padding-bottom: .5rem;

    }
}

.account {
    width: 55px;
    margin-left: 1rem;
}

body {
    padding-left: .5rem;
}

.home {
    margin-right: 1.5rem;
    width: 70px;
}